.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all .3 ease;
}

.btn-primary{
    color: var(--dark);
    background-color: var(--primary);
}

.btn-primary:hover{
    background:transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-secondary:hover{
    color: var(--dark);
    background-color: var(--primary);
}
.word-highlight{
    font-size: 1.4rem;
    color: var(--primary);
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}
